* {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 1%;
    margin-top: 1%;
    background: rgb(28, 28, 28);
    color: white;
    transition: font-size 0.3s ease, transform 0.3s ease, color 0.3s ease, opacity 2s ease;
    scrollbar-width: thin;
}

#main {
    opacity: 0;
}

h1 {
    text-align: center;
}
h1:hover{
    transform: scale(1.1);
}

#thinking {
    border-radius: 10px;
    margin-top: -1%;
    border: 3px dotted white;
    width: 50%;
    height: 5%;
}
#thinking:hover{
    cursor:grab;
    transform: scale(1.03);
}

h3, h2 {
    -webkit-text-stroke: 1px green;
}

h3:hover, h2:hover{
    transform: rotate(0.5deg);
    font-weight: bolder;
}

a {
    font-size: large;
    font-weight: bold;
    text-decoration: wavy underline 1.5px green;
}

a:hover {
    cursor: pointer;
    font-size: larger;
    color: rgb(126, 248, 3);
}

iframe {
    border-radius: 2%;
    border: 5px solid black;
}

#intro {
    border: 2px dotted green;
    border-radius: 10px;
    font-weight: bold;
    font-style: italic;
}

#scratchCode{
    font-size: small;
    font-weight: bold;
    -webkit-text-stroke: 0.2px green;
}

hr {
    width: 30%;
    border: 1.5px rgba(192, 191, 191, 0.426);
    border-style:dashed;
}

hr:first-of-type{
    width: 98%;
    margin-left:0px;
    border: solid 1px white;
}